<div class="div-select">
    <label>Peoples: </label>
    <select (change)="filterPeoples($event.target.value)">
      <option value="0">--All--</option>
      <option *ngFor="let peoples of peoples" value={{peoples.name}}>
        {{peoples.name}}
      </option>
    </select>
  </div>
