<div class="container">
    <div class="container-table">
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Eye Color</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let people of peoples; let i = index">
                    <td [ngClass]="{'eye-blue' : people.name == 'Luke Skywalker',
                            'eye-yelow' : people.name == 'C-3PO',
                            'eye-r2-d2-red' : people.name == 'R2-D2',
                            '.eye-dart-yelow' : people.name == 'Darth Vader',
                             'eye-brown' : people.name == 'Leia Organa',
                             'eye-lars-blue' : people.name == 'Owen Lars',
                             'eye-beru-blue' : people.name == 'Beru Whitesun lars',
                             'eye-red' : people.name == 'R5-D4',
                             'eye-biggs-brown' : people.name == 'Biggs Darklighter',
                             'eye-blue-gray' : people.name == 'Obi-Wan Kenobi'}">
                        {{people.name}}
                    </td>
                    <td>{{people.eye_color}}</td>

                    <td class="text-center edit-block">
                        <span class="delete">
                            <button 
                                type="button" 
                                class="btn btn-danger btn-sm botao-deletar"
                                (click)="onRemove.emit(people)">
                                Remove
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>