.eye-blue{
    color:#0000FF;
}

.eye-lars-blue{
    color:#0000FF;
}

.eye-beru-blue{
    color:#0000FF;
}

.eye-yelow{
    color: #FFFF00;
}

.eye-dart-yelow{
    color: #FFFF00;
}

.eye-r2-d2-red{
    color: #FF0000;
}

.eye-red{
    color: #FF0000;
}

.eye-brown{
    color: #A52A2A;
}

.eye-biggs-brown{
    color: #A52A2A;
}

.eye-blue-gray{
    color: #6699CC;
}

